@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS kustom untuk efek fade transparan di bawah teks */
.mask-text-gradient {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

html {
  scroll-behavior: smooth;
}
* {
  user-select: none; /* blok seleksi teks */
  -webkit-user-drag: none; /* blok drag gambar */
}

/* Ganti warna arrow default slick */
.slick-prev:before,
.slick-next:before {
  color: gray !important; /* warna kuning tailwind (yellow-400) */
  font-size: 30px;
}
.slick-center .mentor-card {
  transform: translateY(-10px) scale(1.03);
  transition: all 0.3s ease;
}
.watermark-static {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.watermark-static span {
  opacity: 0.35; /* bisa diubah jika terlalu jelas */
}
